@media (min-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 50%,
      rgba(238, 243, 246, 1) 50%
    );
    height: 110px;
    z-index: 100;
    padding: 0 $desktopPad;

    img {
      width: 32px;
    }

    .nav-bar__container {
      overflow: visible;
    }

    nav {
      height: auto;
      width: 600px;
      background: none;
      position: static;
      transform: translateY(0);
      z-index: 1000;
      overflow: visible;
      visibility: visible;
      padding: 0;
      box-shadow: none;

      ul {
        list-style: none;
        padding: 0;
        font-size: 1rem;
        text-transform: uppercase;
        text-align: center;
        transition: 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0;

        li {
          padding: 0;
          margin: 0;
          margin-left: 2.5rem;
          color: $veryDarkBlue;
          font-weight: 700;
        }

        .login {
          color: $GrayishBlue;
          border-top: none;
          margin-top: 0;
          padding-top: 0;
          margin-left: 5.5rem;
        }
      }
    }
  }
  .menu-btn {
    display: none;
  }
}
